* {
    border: none;
    border-radius: 0;
    font-family: "0xProto Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    font-weight: bold;
    font-family: "0xProto";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #c9545d;
    border-top: 2px solid #c9545d;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
    color: white;
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}

#custom-appmenu {
        /*
        This is for the module app menu.
        */
        box-shadow: none;
            text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 1px;
        margin-left: 1px;
        padding-right: 4px;
        padding-left: 4px;
        color: white;
}

#custom-quit {
        box-shadow: none;
            text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: white;
    }
    
    #custom-lock {
        box-shadow: none;
            text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: white;
    }
    
    #custom-reboot{
        box-shadow: none;
            text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: white;
    }
    
    #custom-shutdown {
        box-shadow: none;
            text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: white;
    }